# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
dist/
build/
*.egg-info/

# Virtual environments
venv/
env/
*.venv/
ENV/

# IDE files
.vscode/
.idea/

# Logs
*.log

# Other
*.pyc
*.bak
*.swp
Thumbs.db
.DS_Store

# data files
src/data/train